<div class="annotationContainer">
    <div id="checkBox" class="annotation checkBox annotationDraggable editableContent">
        <div class="controls showWhenSelected">
            <div class="closeBtn showWhenSelected"></div>
            <div class="moveBtn showWhenSelected"></div>
        </div>
        <div class="annotationLabel">Check Box</div>
        <input type="checkbox" disabled="disabled" />
        <div class="box showWhenSelected checked"></div>
    </div>
</div>