<div class="annotationContainer">
    <div id="datetimeSigned" class="annotation datetimeSigned annotationDraggable">
        <div class="closeBtn" id="closeDate"></div>
        <div class="annotationLabel">Datetime Signed</div>
    </div>
</div>