@model SutureHealth.AspNetCore.Areas.Template.Models.Annotation.EditorViewModel.Page
<div id="@($"page{Model.PageNumber}")" class="documentPage">
    <img class="pdfFormTemplate" src="@($"data:image/jpeg;base64,{Model.Base64Image}")" />
</div>