<div class="annotationContainer">
    <div id="signature" class="annotation signature annotationDraggable">
        <div class="closeBtn"></div>
        <div class="annotationLabel">Signature</div>
        <div class="signaturePart2"></div>
    </div>
</div>