<div class="annotationContainer">
    <div id="textArea" class="annotation textArea annotationDraggable editableContent">
        <div class="controls showWhenSelected">
            <div class="closeBtn showWhenSelected"></div>
            <div class="moveBtn showWhenSelected"></div>
        </div>
        <div class="annotationLabel">Text Area</div>
        <textarea disabled="disabled" class="showWhenSelected" placeholder="Enter text here…"></textarea>
        <div class="textareaPlaceholder">Enter text here...</div>
    </div>
</div>