@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<main class="my-5">
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <h1 class="text-center" style="font-size: 12rem; font-weight: 100;">OOPS!</h1>
                    <p class="lead text-center">SORRY WE CAN'T PROCESS YOUR REQUEST!</p>
                    <p class="text-center">Either something went wrong or the page doesnt exist anymore.</p>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-4 text-center">
                            <div class="d-grid">
                                <a href="/" class="btn btn-primary" type="button">Return Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>