body {
}

#viewVisitsGrid {
    border: none;
}

.k-toolbar {
    float: left;
    border: none;
    background-color: transparent !important;
}

.k-toolbar .btn-default .k-i-file-excel {
    display: none;
}

.k-toolbar .btn-default {
    font-family: Montserrat,Verdana,Arial;
    background: #929292;
    border: 0;
    color: #fff;
    border-radius: 2px;
}

.k-filtercell > span > .k-button {
    padding-left: .01em;
    padding-right: .01em;
    padding-top: .01em;
    padding-bottom: .01em;
    /* line-height: 0.2em; */
    margin: 0;
}

.k-grid-content table tr:first-child td, .k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-grid tr td, .k-pivot-layout .k-grid tr td {
    border-bottom-width: 1px;
    border-style: solid;
}

.k-grid-content tr td {
    border-left-width: 0;
}

.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.k-master-row:hover {
    background-color: #d3d3d3 !important;
}

.k-alt {
    background-color: #fff;
}

.btn-default:hover {
    color: #fff !important;
    background-color: #7a7a7a !important;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: none;
}

.k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-button:focus, .k-button:focus:hover, .k-state-disabled .k-button.k-state-focused {
    border-color: transparent !important;
    box-shadow: none !important;
}

a:focus, a:hover {
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

.btn {
    border-radius: 2px;
}

/*.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-dialog .k-window-content, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
} */

a, .doc-last-modified {
    text-decoration: none;
    color: #1e6be8;
}

/*a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    border-top: 5px solid #333 !important;
    padding-top: 0.55em !important;
    min-width: 2.429em !important;
}

.k-pager-numbers .k-state-selected {
    border-color: #333 transparent transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #333 !important;
}

.k-grid-footer, .k-grid-footer td, .k-grid-header, .k-grid-header .k-header, .k-pager-numbers .k-state-selected, .k-pager-wrap, .k-scheduler-header, .km-pane-wrapper .k-grid-header .k-header {
    color: #444;
    background-color: #fafafa !important;
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected {
    border-width: 10px 0 0 !important;
    padding-top: .7em !important;
}

.k-pager-numbers .k-state-selected {
    line-height: 2.429em;
    cursor: pointer;
}

.k-pager-numbers .k-state-selected {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-radius: 1.0833em;
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected, .k-pager-wrap > .k-link {
    min-width: 2em;
}

.k-pager-numbers .k-state-selected {
    vertical-align: top;
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}

.k-state-selected {
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
}

.k-button.k-state-active, .k-button:active, .k-draghandle.k-state-selected:hover, .k-state-selected {
    background-image: none;
}

.k-drag-clue.k-state-selected, .k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.k-pager-wrap .k-pager-numbers .k-link:hover {
    border-top-color: transparent !important;
}

.k-pager-wrap .k-pager-numbers .k-link {
    color: #444;
}

.k-pager-wrap .k-link:hover {
    color: #444;
}

.k-pager-wrap .k-link:hover {
    border-color: transparent !important;
    color: #2e2e2e;
    background-color: transparent !important;
}

.k-today {
    border-radius: 20px !important;
}

.k-today .k-link {
    color: white !important;
    border-radius: 20px !important;
}

.k-state-hover .k-link {
    border-radius: 20px !important;
}

.k-state-focused .k-link {
    border-radius: 20px !important;
}

.k-calendar-container .k-header, .k-calendar .k-header .k-state-hover {
    background-color: #333 !important;
}

.k-calendar .k-calendar-header .k-today, .k-calendar .k-footer .k-nav-today {
    color: black !important;
}

.k-datepicker .k-input, .k-timepicker .k-input {
    background-color: #fafafa;
}

.k-calendar-container .k-header.k-hstack {
    color: white;
}

.k-calendar td.k-state-focused .k-link {
    box-shadow: inset 0 0 2px 1px #000;
}

.k-calendar td.k-state-selected .k-link {
    border-color: #000;
    background-color: #000;
}

.calendar-from-clear-button:active:hover, .calendar-thru-clear-button:active:hover {
    background-color: #bbb;
}

.k-select {
    opacity: .45;
} */