.edit-template-header {
    border-bottom: 1px solid #dfdfdf;
    margin: 20px -15px;
    padding-bottom: 10px;
}

.btn-default{
    color: #ffffff !important;
    background-color: #929292 !important;
}
.btn-default:hover{
    background-color: #7a7a7a !important;
    color: #ffffff !important;
}