body {
}

.container {
    max-width: 95%;
    /* margin-top: 3%; */
}

legend {
    border-bottom: 1px solid #333 !important;
    font-size: 18px !important;
    font-weight: bold;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.div-distance {
    margin-bottom: 8px;
    margin-top: 8px;
}

.xcd-input {
    color: #333;
    border-radius: 2px;
    font-size: 15px;
    line-height: 19px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: #d1d1d1;
    outline: none;
}

.xcd-form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 2px 24px 2px 12px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.xcd-input ~ .xcd-text-label {
    font-size: 12px;
    font-weight: 600;
    left: 20px;
    top: -9px;
    color: #333;
    padding: 0 5px;
    background: #fff;
    position: absolute;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.xcd-holo-label-sup, .xcd-input:focus ~ .xcd-clear-input-button, .xcd-input:valid ~ .xcd-clear-input-button {
    display: block;
}

.xcd-clear-input-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 15px;
    width: 37px;
    height: 38px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+ElEQVQ4T52TTW7DIBCFGWypp8kikmPDdfLv82SRNmmzyGXAo0hZ5DxjIixjUQoKDSsz5n3MPGaAMcbquq4Q8Wa/c5eUcq6UuoMVG2N0URSt1vqcAxBCbIjoyBirwApcIAfiznLOt13XXQZALiQUW90EGCFrIvqMZRIT/wGMhq6MMV8+JCWOAkKI3VvDXM2hyb9K8H82TbPs+/5kYylxMoPRj5aIDm8BhBCDGACWnPOPf5XgixHx6j9xrJTwGaebnTjsEwDYIeKPi/uNlBRHmm2vtf6eTIylnZoJr+0HyDRM1rAw7VeQsiwXQwlSyplS6pEzie6MG+cnmwHRvOefpDgAAAAASUVORK5CYII=) no-repeat 50%;
    background-size: 15px 15px;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity ease-in-out .15s;
    transition: opacity .15s ease-in-out;
    display: none;
}

.sh-btn {
    padding: 0 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 2px;
    white-space: normal;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    text-align: center;
    font-size: 18px !important;
    font-family: Montserrat,Verdana,Arial !important;
    border: 0;
    height: 30px;
}

.sh-btn-green:hover {
    background-color: #2aadfa;
    color: white !important;
}

.sh-btn-green {
    background-color: #1e86e8;
    font-family: Montserrat,Verdana,Arial;
    color: #fff;
}

.sh-btn-default {
    color: #fff !important;
    background-color: #929292;
}

.entity-management-main-container .office-phone-ext {
    float: right;
    width: 27%;
}

.entity-management-main-container .office-phone {
    float: left;
    width: 70%;
}

.field-validation-error, .field-validation-valid {
    float: right;
}

.input-validation-error {
    border: 1px solid red !important;
}

.user-information .row, .user-contact-information .row {
    margin-top: -0.7em;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
