USE [SutureSignWeb-QA]
GO
/****** Object:  StoredProcedure [dbo].[spAddPatient]    Script Date: 12/17/2022 2:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spAddPatient]
  @FirstName			varchar(50),
  @MiddleName			varchar(50),
  @MaidenName			varchar(50) ='',
  @LastName			varchar(50),
  @Suffix				varchar(3),
  @Last4Ssn			varchar(4),
  @SSN				varchar(9),
  @DOB				date,
  @Gender				char(1),

  @AddressType		varchar(250) = 'Home',
  @Address1			varchar(150),
  @Address2			varchar(150),
  @City				varchar(150),
  @State			varchar(2),
  @Zip				varchar(9),
  @Country			varchar(50) = 'USA',
  @IsPrimary		bit = 0,

  @IsMedicare		bit,
  @IsMedicareAdvantage	bit,
  @IsMedicAid			bit,
  @IsSelf				bit,
  @IsPrivate			bit,

  @IsMedicarePrimary			bit = 0,
  @IsMedicareAdvantagePrimary	bit = 0,
  @IsMedicAidPrimary			bit = 0,
  @IsSelfPrimary				bit = 0,
  @IsPrivatePrimary			bit = 0,

  @MedicareNum		varchar(11) = NULL,
  @MedicareMBI		varchar(11) = NULL,
  @MedicAidNum		varchar(50) = NULL,
  @MedicareAdvantageNum varchar(50) = NULL,
  @PrivateNum			varchar(50) = NULL,

  @MedicAidState		varchar(2) = NULL,

  @MedicareGrpNumber	VARCHAR(50) =	NULL,
  @MedicareAdvGrpNumber	VARCHAR(50)	=	NULL,
  @MedicaidGrpNumber	VARCHAR(50)	=	NULL,
  @PrivateGrpNumber		VARCHAR(50)	=	NULL,

  @FacilityMrn		varchar(50),
  @FacilityId			int,
  @PatientId			int = -1,
  @ChangeBy			int,

  @MatchPatientLogID	int = -1,

  @NewPatientId		int	OUT,
  @AssociationExists 	bit	OUT
AS
BEGIN

	BEGIN TRANSACTION

	DECLARE @PatientInsId int = NULL
	DECLARE @AddressId int
	DECLARE @PatientInfoChanged bit
	DECLARE @InsAvailable bit
	DECLARE @AddressInfoChanged bit

	-- If our PatientId > 0 then we HAVE a patient already and don't need to add them
	IF @PatientId < 0
	BEGIN
		INSERT INTO Patients (FirstName, MiddleName, MaidenName, LastName, Suffix, DOB, LastSSN, SSN, Gender, ChangeBy, CreateDate, ChangeDate)
		VALUES (dbo.udf_TitleCase(@FirstName), dbo.udf_TitleCase(@MiddleName), @MaidenName, dbo.udf_TitleCase(@LastName), @Suffix, @DOB, @Last4Ssn, @SSN, @Gender, @ChangeBy, GETDATE(), GETDATE())

		SET @PatientId = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN

	SELECT 	@PatientInfoChanged  =
			CASE WHEN (@FirstName = FirstName  OR @FirstName IS NULL)
					AND (@MiddleName = MiddleName OR @MiddleName IS NULL)
					AND (@MaidenName = MaidenName OR @MaidenName IS NULL)
					AND (@LastName =  LastName OR @LastName IS NULL)
					AND (@Suffix =  Suffix OR @Suffix IS NULL)
					AND (@DOB = DOB OR @DOB IS NULL)
					AND (@Last4Ssn = LastSSN OR @Last4Ssn IS NULL)
					AND (@SSN = SSN  OR @SSN IS NULL)
					AND (@Gender =  Gender OR @Gender IS NULL)
				THEN 0
				ELSE 1
			END
	FROM Patients
	WHERE PatientId = @PatientId

	IF @PatientInfoChanged = 1
		BEGIN
			UPDATE Patients
			Set FirstName = dbo.udf_TitleCase(@FirstName)
				,MiddleName =	CASE WHEN @MiddleName IS NOT NULL
									THEN dbo.udf_TitleCase(@MiddleName)
									ELSE dbo.udf_TitleCase(MiddleName)
								END
				,MaidenName = CASE WHEN @MaidenName IS NOT NULL
									THEN dbo.udf_TitleCase(@MaidenName)
									ELSE dbo.udf_TitleCase(MaidenName)
								END
				,LastName = dbo.udf_TitleCase(@LastName)
				,Suffix = CASE WHEN @Suffix IS NOT NULL
									THEN @Suffix
									ELSE Suffix
								END
				,DOB  = @DOB
				--,LastSSN = CASE WHEN @Last4Ssn IS NOT NULL and @SSN IS NULL and COALESCE(SSN,'')=''
				--					THEN dbo.udf_TitleCase(@Last4Ssn)
				--					ELSE dbo.udf_TitleCase(LastSSN)
				--				END
				--,SSN = CASE WHEN @SSN IS NOT NULL
				--					THEN dbo.udf_TitleCase(@SSN)
				--					ELSE dbo.udf_TitleCase(SSN)
				--				END
				,LastSSN = CASE WHEN SSN IS NULL -- ssn (old ssn) exists in db?
				    		THEN -- no ssn in Db
							   CASE WHEN @SSN IS NOT NULL -- new ssn is received?
							        -- assumption: at this point @last4ssn is updated already.
						            THEN dbo.udf_TitleCase(@Last4Ssn) -- update db with new last4snn (Scenario 4,9,5,10)
						            ELSE -- no new ssn
									   CASE WHEN @Last4Ssn IS NOT NULL 
									        THEN dbo.udf_TitleCase(@Last4Ssn) -- updae db with new last4snn (Scenario 1,2,6,7)
									        ELSE dbo.udf_TitleCase(LastSSN) -- do not change last4ssn
									   END
							   END
							ELSE -- there is ssn in db
							   CASE WHEN @SSN IS NOT NULL -- new SSN is received?							             
							        THEN dbo.udf_TitleCase(@Last4Ssn) -- update db with the new last4ssn (scenario 12)
									ELSE dbo.udf_TitleCase(LastSSN) -- do not change SSN
							   END
					   END
				,SSN = CASE WHEN SSN IS NULL -- ssn exists (old ssn) in db?
				    		THEN -- no ssn in Db
							   CASE WHEN @SSN IS NOT NULL -- new SSN is received?
						            THEN dbo.udf_TitleCase(@SSN) -- update db with new ssn (Scenario 4,9,5,10)
						            ELSE dbo.udf_TitleCase(SSN) -- do not change SSN
							   END
							ELSE -- there is ssn in db
							   CASE WHEN @SSN IS NOT NULL -- new SSN is received?
							        THEN dbo.udf_TitleCase(@SSN) -- update db with the new ssn (scenario 12)
									ELSE dbo.udf_TitleCase(SSN) -- do not change SSN
							   END
					   END
				,Gender = @Gender
				,ChangeBy = @ChangeBy
				,ChangeDate = GETDATE()
			WHERE PatientId = @PatientId
		END
	END

	-- Now add our patient insurance information
	IF (@IsMedicare = 0 AND @IsMedicareAdvantage = 0 AND @IsMedicAid = 0 AND @IsPrivate = 0 AND @IsSelf = 0)
		SET @InsAvailable = 0
	ELSE
		SET @InsAvailable = 1

	IF @InsAvailable = 1
	BEGIN	
		---------------
		IF @IsMedicare = 1
			BEGIN 
				IF @MedicareNum IS NOT NULL
					BEGIN
						-- Check to see if Medicare Number (old) exists
						SELECT @PatientInsId = PatientInsId
						FROM PatientIns
						WHERE PatientId = @PatientId
							AND CarrierId = 1 AND PlanId = 1  --medicare with Medicare Number (old)

						IF @PatientInsId IS NOT NULL
							BEGIN -- When exists, update Medicare Number (old) or reactivate 
								UPDATE PatientIns
								SET PolicyNumber = @MedicareNum,
									GroupNumber = @MedicareGrpNumber,
									IsPrimary = @IsMedicarePrimary,
									Active = 1,
									ChangeBy = @ChangeBy,
									ChangeDate = GETDATE()
								WHERE PatientInsId = @PatientInsId
									AND ( Active = 0 OR ISNULL(PolicyNumber,'') != @MedicareNum)
							END
						ELSE
							BEGIN
								INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
								SELECT @PatientId, InsurancePlans.CarrierId, InsurancePlans.PlanId, null, @MedicareNum, @MedicareGrpNumber, @IsMedicarePrimary, @ChangeBy
								FROM InsuranceCarriers 
									INNER JOIN InsurancePlans ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
								WHERE InsurancePlans.CarrierId = 1 --medicare
									AND InsurancePlans.PlanId = 1 -- Medicare Number (old)
							END
					END

				IF @MedicareMBI IS NOT NULL
					BEGIN
						-- Check to see if Medicare MBI exists
						SELECT @PatientInsId = PatientInsId
						FROM PatientIns
						WHERE PatientId = @PatientId
							AND CarrierId = 1 AND PlanId = 4  --medicare with Medicare MBI
				
						IF @PatientInsId IS NOT NULL
							BEGIN -- When exists, update Medicare MBI or reactivate 
								UPDATE PatientIns
								SET PolicyNumber = @MedicareMBI,
									GroupNumber = @MedicareGrpNumber,
									IsPrimary = @IsMedicarePrimary,
									Active = 1,
									ChangeBy = @ChangeBy,
									ChangeDate = GETDATE()
								WHERE PatientInsId = @PatientInsId
									AND ( Active = 0 OR ISNULL(PolicyNumber,'') != @MedicareMBI)
							END
						ELSE
							BEGIN
								INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
								SELECT @PatientId, InsurancePlans.CarrierId, InsurancePlans.PlanId, null, @MedicareMBI, @MedicareGrpNumber, @IsMedicarePrimary, @ChangeBy
								FROM InsuranceCarriers 
										INNER JOIN InsurancePlans ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
								WHERE InsurancePlans.CarrierId = 1 --medicare
									AND InsurancePlans.PlanId = 4 -- Medicare MBI
							END
					END
			END
		ELSE
			BEGIN -- Since Patient no longer has Medicare, so deactivate all
				UPDATE PatientIns
				SET Active = 0,
					ChangeBy = @ChangeBy,
					ChangeDate = GETDATE()
				WHERE PatientId = @PatientId
					AND CarrierId = 1  --medicare
					AND Active = 1
			END

		--Reset @PatientInsId = NULL
		SET @PatientInsId = NULL

		IF @IsMedicAid = 1
			BEGIN
				SELECT @PatientInsId = PatientInsId
				FROM PatientIns
				WHERE PatientId = @PatientId
					AND CarrierId = 3  --medicaid
					AND [State] = @MedicAidState

				IF @PatientInsId IS NOT NULL
					BEGIN
							UPDATE PatientIns
							SET	PolicyNumber = @MedicAidNum,
								[State] = @MedicAidState,
								GroupNumber = @MedicaidGrpNumber,
								IsPrimary = @IsMedicAidPrimary,
								Active  = 1,
								ChangeBy = @ChangeBy,
								ChangeDate = GETDATE()
							WHERE PatientInsId = @PatientInsId
								AND ( Active = 0 OR ISNULL(PolicyNumber,'') != @MedicAidNum)
					END
				ELSE
				BEGIN
					INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
					SELECT @PatientId, InsurancePlans.CarrierId, InsurancePlans.PlanId, @MedicAidState, @MedicAidNum, @MedicaidGrpNumber, @IsMedicAidPrimary, @ChangeBy
					FROM InsuranceCarriers INNER JOIN InsurancePlans
						ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
					WHERE InsurancePlans.CarrierId = 3  --medicaid

					UPDATE PatientIns
						SET Active = 0,
							ChangeBy = @ChangeBy,
							ChangeDate = GETDATE()
						WHERE PatientId = @PatientId 
							AND CarrierId = 3
							AND [State] != @MedicAidState
				END
			END
		ELSE
			BEGIN
				UPDATE PatientIns
				SET Active = 0,
					ChangeBy = @ChangeBy,
					ChangeDate = GETDATE()
				WHERE PatientId = @PatientId
					AND CarrierId = 3  --medicaid
					AND Active = 1
			END

		--Reset @PatientInsId = NULL
		--SET @PatientInsId = NULL

		--I just kept this for backup, will remove this once @<Michael Blackstone> will verify procedure

		--IF @IsMedicareAdvantage = 1
		--	BEGIN
		--		SELECT @PatientInsId = PatientInsId
		--		FROM PatientIns
		--		WHERE PatientId = @PatientId
		--			AND CarrierId = 2  --medicare advantage

		--		IF @PatientInsId IS NOT NULL
		--			BEGIN
		--				UPDATE PatientIns
		--				SET PolicyNumber = @MedicareAdvantageNum,
		--					GroupNumber = @MedicareAdvGrpNumber,
		--					IsPrimary = @IsMedicareAdvantagePrimary,
		--					Active = 1,
		--					ChangeBy = @ChangeBy,
		--					ChangeDate = GETDATE()
		--				WHERE PatientInsId = @PatientInsId
		--					AND (Active = 0 OR ISNULL(PolicyNumber,'') != @MedicareAdvantageNum)
		--			END
		--		ELSE
		--			BEGIN
		--				INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
		--				SELECT @PatientId, InsurancePlans.CarrierId, InsurancePlans.PlanId, null, @MedicareAdvantageNum, @MedicareAdvGrpNumber, @IsMedicareAdvantagePrimary, @ChangeBy
		--				FROM InsuranceCarriers LEFT OUTER JOIN InsurancePlans
		--					ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
		--				WHERE InsurancePlans.CarrierId = 2  --medicare advantage
		--			END
		--	END
		--ELSE
		--	BEGIN
		--		UPDATE PatientIns
		--		SET Active = 0,
		--			ChangeBy = @ChangeBy,
		--			ChangeDate = GETDATE()
		--		WHERE PatientId = @PatientId
		--			AND CarrierId = 2  --medicare advantage
		--			AND Active = 1
		--	END

		IF @IsMedicareAdvantage = 1
			BEGIN 
				
				IF @MedicareMBI IS NOT NULL
					BEGIN
						-- Check to see if Medicare MBI exists
						SELECT @PatientInsId = PatientInsId
						FROM PatientIns
						WHERE PatientId = @PatientId
							AND CarrierId = 2  --medicare advantage
							AND PlanId = 2
				
						IF @PatientInsId IS NOT NULL
							BEGIN -- When exists, update Medicare MBI or reactivate 
								UPDATE PatientIns
								SET PolicyNumber = NULL,
									GroupNumber = @MedicareGrpNumber,
									IsPrimary = @IsMedicarePrimary,
									Active = 1,
									ChangeBy = @ChangeBy,
									ChangeDate = GETDATE()
								WHERE PatientInsId = @PatientInsId
									AND ( Active = 0 OR ISNULL(PolicyNumber,'') != @MedicareMBI)
							END
						ELSE
							--BEGIN
							--	INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
							--	SELECT @PatientId, InsurancePlans.CarrierId, InsurancePlans.PlanId, null, @MedicareMBI, @MedicareGrpNumber, @IsMedicarePrimary, @ChangeBy
							--	FROM InsuranceCarriers 
							--			INNER JOIN InsurancePlans ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
							--	WHERE InsurancePlans.CarrierId = 2 --medicare advantage
									
							--END

							BEGIN
								INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
								Values (@PatientId, 2, 2, NULL, NULL, @MedicareGrpNumber, @IsMedicarePrimary, @ChangeBy)
							END

					END
			END
		ELSE
			BEGIN -- Since Patient no longer has Medicare, so deactivate all
				UPDATE PatientIns
				SET Active = 0,
					ChangeBy = @ChangeBy,
					ChangeDate = GETDATE()
				WHERE PatientId = @PatientId
					AND CarrierId = 2  --medicare advantage
					AND Active = 1
			END

		--Reset @PatientInsId = NULL
		SET @PatientInsId = NULL

		IF @IsPrivate = 1
			BEGIN
				SELECT @PatientInsId = PatientInsId
				FROM PatientIns
				WHERE PatientId = @PatientId
					AND CarrierId = 5  --private

				IF @PatientInsId IS NOT NULL
					BEGIN
						UPDATE PatientIns
						SET PolicyNumber = @PrivateNum,
							GroupNumber = @PrivateGrpNumber,
							IsPrimary = @IsPrivatePrimary,
							Active = 1,
							ChangeBy = @ChangeBy,
							ChangeDate = GETDATE()
						WHERE PatientInsId = @PatientInsId
							AND (Active = 0 OR ISNULL(PolicyNumber,'') != @PrivateNum)
					END
				ELSE
					BEGIN
						INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, GroupNumber, IsPrimary, ChangeBy)
						SELECT @PatientId, 5, null, null, @PrivateNum, @PrivateGrpNumber, @IsPrivatePrimary, @ChangeBy
						--FROM InsuranceCarriers INNER JOIN InsurancePlans
						--	ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
						--WHERE InsurancePlans.CarrierId = 5  --private
					END
			END
		ELSE
			BEGIN
				UPDATE PatientIns
				SET Active = 0,
					ChangeBy = @ChangeBy,
					ChangeDate = GETDATE()
				WHERE PatientId = @PatientId
					AND CarrierId = 5  --private
					AND Active = 1
			END

		--Reset @PatientInsId = NULL
		SET @PatientInsId = NULL

		IF @IsSelf = 1
			BEGIN
				SELECT @PatientInsId = PatientInsId
				FROM PatientIns
				WHERE PatientId = @PatientId
					AND CarrierId = 4 --self

				IF @PatientInsId IS NOT NULL
					BEGIN
						UPDATE PatientIns
						SET IsPrimary = @IsSelfPrimary,
							Active = 1,
							ChangeBy = @ChangeBy,
							ChangeDate = GETDATE()
						WHERE PatientInsId = @PatientInsId
							AND Active = 0
					END
				ELSE
					BEGIN
						INSERT INTO PatientIns(PatientId, CarrierId, PlanId, [State], PolicyNumber, IsPrimary, ChangeBy)
						SELECT @PatientId, 4, null, null, null, @IsSelfPrimary, @ChangeBy
						--FROM InsuranceCarriers INNER JOIN InsurancePlans
							--ON InsuranceCarriers.CarrierId = InsurancePlans.CarrierId
						--WHERE InsurancePlans.CarrierId = 4 --self
					END
			END
		ELSE
			BEGIN
				UPDATE PatientIns
				SET Active = 0,
					ChangeBy = @ChangeBy,
					ChangeDate = GETDATE()
				WHERE PatientId = @PatientId
					AND CarrierId = 4 --self
					AND Active = 1
			END

	END


	SELECT @AddressId = AddressId FROM PatientAddress WHERE PatientId = @PatientId

	IF @AddressId IS NULL
	BEGIN
		INSERT INTO PatientAddress(PatientId, [Type], Address1, Address2, City, [State], Zip, Country, ChangeBy)
		SELECT @PatientId, @AddressType, dbo.udf_TitleCase(@Address1), dbo.udf_TitleCase(@Address2), dbo.udf_TitleCase(@City), @State, @Zip, @Country, @ChangeBy
	END
	ELSE
	BEGIN

		SELECT @AddressInfoChanged = CASE WHEN (@Address1 =  Address1 OR @Address1 IS NULL)
												AND (@Address2 = Address2 OR @Address2 IS NULL)
												AND (@City =  City OR @City IS NULL)
												AND (@State = [State] OR @State IS NULL)
												AND (@Zip =  Zip OR @Zip IS NULL)
												AND (@Country = Country  OR @Country IS NULL)
												THEN 0
												ELSE 1
											END
		FROM PatientAddress
		WHERE PatientId = @PatientId

		IF @AddressInfoChanged = 1
		BEGIN
			UPDATE PatientAddress
			SET Address1 =	dbo.udf_TitleCase(@Address1)
				,Address2 = dbo.udf_TitleCase(@Address2)
				,City =		dbo.udf_TitleCase(@City)
				,[State] =	@State
				,Zip =		@Zip
				,ChangeBy =	@ChangeBy
			WHERE AddressId = @AddressId

		END

	END

	

	-- Add Patient to Facility
	exec spAssociatePatientToFacility @FacilityMrn, @FacilityId, @PatientId, @ChangeBy, @AssociationExists OUT

	DECLARE @MatchPatientOutcomeId int = NULL

	IF ( @MatchPatientLogID > 0 )
		BEGIN
			SELECT @MatchPatientOutcomeId = MatchPatientOutcomeId 
				FROM MatchPatientOutcome 
				WHERE MatchPatientLogID = @MatchPatientLogID and PatientID = @PatientId

			IF @MatchPatientOutcomeId IS NOT NULL
				BEGIN
					UPDATE MatchPatientOutcome
					SET PatientCreated = 1
					WHERE MatchPatientOutcomeId = @MatchPatientOutcomeId
				END
			ELSE
				BEGIN
					INSERT INTO MatchPatientOutcome (MatchPatientLogID, PatientId, MatchScore, MatchRejected, PatientCreated, CreateDate)
					VALUES( @MatchPatientLogID, @PatientId,NULL,0,1,GETDATE() )

				END
		END

	-- insert into names table first name if not exists
	IF NOT EXISTS (SELECT Top 1 NameValue FROM Names WHERE Upper(Names.NameValue) = UPPER(@FirstName) and NameType ='FirstName')
	BEGIN
		INSERT INTO Names
		VALUES('FirstName',dbo.udf_TitleCase(@FirstName),0,GETDATE(),1)
	END

	-- insert into names table last name if not exists
	IF NOT EXISTS (SELECT Top 1 NameValue FROM Names WHERE Upper(Names.NameValue) = UPPER(@LastName) and NameType ='LastName')
	BEGIN
		INSERT INTO Names
		VALUES('LastName',dbo.udf_TitleCase(@LastName),0,GETDATE(),1)
	END

	-- Set our output to our patient ID
	SET @NewPatientId = @PatientId

	COMMIT TRANSACTION

END