<div data-action="EntityInvite">
    <button type="button" class="btn network-invite-button invite-pending" disabled>
        <i class="fal fa-envelope" style="pointer-events:none;"></i>
        Invited
    </button>
    <button type="button" class="btn network-invite-button invite-selected">
        <span class="invite-selected-normal">
            <i class="fas fa-check"></i>
            Selected
        </span>
        <span class="invite-selected-hover">
            <i class="fas fa-check"></i>
            Unselect
        </span>
    </button>
    <button type="button" class="btn network-invite-button invite-available">
        <i class="fal fa-envelope"></i>
        Invite
    </button>
    <button type="button" class="btn network-invite-button invite-loading" disabled>
        <i class="fas fa-cog fa-spin"></i>
        Loading...
    </button>
</div>