@model SutureHealth.AspNetCore.Areas.Identity.Models.OrganizationSelectorViewModel
@{ 
    var id = Guid.NewGuid().ToString();
}
<div class="row">
    <div class="col-md-12 my-2">
        <input-form-group>
            <select id="@id" asp-items="Model.Organizations" class="form-select" style="padding-top:0px;padding-bottom:0px;">
            </select>
            <label>Select An Office</label>
        </input-form-group>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#@id").change(function () {
            window.location.href = $(this).val();
        });
    });
</script>