@page
@model ResetPasswordViewModel
@{
    ViewData["Title"] = Model.CurrentUser == null ? "Reset Password" : "Change Password";
    Model.RequireClientHeader = false;
    Model.RequireValidation = true;
}
<section class="my-5">
    <div class="container">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="shadow">
                <div class="p-3">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img src="~/images/logo2_600x221.png" alt="Suture Health logo" class="img-fluid" />
                        </div>
                    </div>
                    <hr />
                    <form class="my-2" id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (Model.CurrentUser != null)
                        {
                            <div class=" mb-3">
                                <label asp-for="Input.OldPassword" class="form-label"></label>
                                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />

                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class=" mb-3">
                                <label asp-for="Input.UserName" class="form-label"></label>
                                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />

                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                        }

                        <div class=" mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />

                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="small text-secondary text-information">
                                Your passwords must:
                            </div>
                            <div class="small text-secondary text-information">
                                <ul>
                                    <li id="pwd-restriction-length" data-validation="^.{8,50}$">Be between 8 and 50 characters in length</li>
                                    <li id="pwd-restriction-upper" data-validation="[A-Z]+">Contain at least 1 uppercase character</li>
                                    <li id="pwd-restriction-lower" data-validation="[a-z]+">Contain at least 1 lowercase character</li>
                                    <li id="pwd-restriction-number" data-validation="[0-9]+">Contain at least 1 number (0-9)</li>
                                </ul>
                            </div>
                        </div>
                        <div class=" mb-3">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (Model.CurrentUser != null)
                        {
                            <button type="submit" class=" btn btn-primary">Reset Password</button>
                            <a class=" btn btn-secondary" href="@Model.ReturnUrl">Cancel</a>
                        }
                        else
                        {
                            <button type="submit" class=" btn btn-primary">Reset Password</button>
                            <a class=" btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Cancel</a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $.validator.setDefaults({ onkeyup: false });

            $("input[name='@Html.NameFor(m => m.Input.Password)']").keyup(function () {
                var password = $(this).val();
                var validations = $("div li[data-validation]");
                validations.each(function () {
                    var regex = new RegExp($(this).data("validation"));
                    if (regex.test(password))
                        $(this).addClass('pwd-restriction-checked');
                    else
                        $(this).removeClass('pwd-restriction-checked');
                });
            });
        });
    </script>
}
    @section Styles {
    <style>
        li.pwd-restriction-checked {
            list-style-type: none;
        }

            li.pwd-restriction-checked:before {
                content: "\f058"; /* FontAwesome Unicode */
                font-family: FontAwesome;
                display: inline-block;
                color: green;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 1.3em; /* same as padding-left set on li */
            }
    </style>
}