@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <title>Video Visit Error</title>
    <link rel="icon" href="~/images/logo2_emblem.png">
    <link rel="stylesheet" href="~/css/ChatVideo.min.css" />
</head>
<body>
    <div id="patient-container">
        <div style="margin-top: 50px; margin-bottom: 35px;">
            <img src="~/images/logo2_600x221.png" />
        </div>

        <div style="text-align: center">
            <h3 class="negative spaced">If you have a medical emergency, call 911 immediately.</h3>
            <h2>Sorry :(</h2>
            <h3>An error occurred, not sure why but we will look into it.</h3>
        </div>

    </div>
</body>
</html>