@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <title>Video Visit Error</title>
    <link rel="icon" href="~/images/logo2_emblem.png">
    <link rel="stylesheet" href="~/css/ChatVideo.min.css" />
</head>
<body>
    <div id="patient-container">
        <div style="margin-top: 50px; margin-bottom: 35px;">
            <img src="~/images/logo2_600x221.png" />
        </div>

        <div style="text-align: center">
            <h3 class="negative spaced">
                If you have a medical emergency, call 911 immediately.
            </h3>
            <h2>Sorry we can't find this room.</h2>
            <h3>Please verify the web address is the same as the link that we sent you.</h3>
            <h3>You should be able to simply click that link.</h3>
        </div>
    </div>
</body>
</html>