#Gender .form-group label {
    left: unset;
    top: -10px;
}
#Gender{
    display: inline-flex;
    border: none;
}
#payerMixColumn .form-check-label {
    font-size: 15px;
    margin-bottom: 10px;
}

#MedicareMBI {
    text-transform: uppercase;
}

#medicareMBIRequiredNote {
    margin-top: -10px;
}

.input-validation-error {
    border: 1px solid #c10026 !important;
}



.medicareMBIExample {
   background-color: #f9f9f9;
}

.inbox-view-info {
    display: none;
    position: absolute;
    width: 200px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f7f6f6;
    border: 1px #929292 solid;
    color: #333;
    font-size: 9pt;
    padding: 1em;
    z-index: 1;
    font-family: Open Sans,Verdana,Arial;
    line-height: 1.4em;
}

.inbox-view-info-icon:hover .inbox-view-info {
    display: block;
}

.inbox-view-info-icon {
    font-size: .8em;
    position: relative;
    top: -0.5em;
}

.genderErrorMessage {
    position: absolute;
    margin-top: 38px;
   
}

.form-group label {
    font-weight: normal;
}

