@using SutureHealth.AspNetCore.Areas.Network.Models;

<div class="modal" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="MessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-large">We'd love your feedback!</h5>
                <button type="button" class="close submitModalCancel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>We plan to offer features like this. To help us prioritize what comes first, please fill out a quick survey.</p>
            </div>
            <div class="modal-footer">
                <button data-action="MessageContinue" type="button" class="btn sh-btn-green" data-dismiss="modal">Help Us Prioritize Features</button>
                <button type="button" class="btn sh-btn-default modalCancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var container = $("#MessageModal"),
            continueButton = $("[data-action='MessageContinue']", container);

        $(document).on("@IndexViewModel.EVENT_DISPLAY_MESSAGE", function (event, onContinue) {
            continueButton.off("click");
            continueButton.click(onContinue);

            container.modal("show");
        });

        container.modal({
            "show": false
        });
    });
</script>