@model SutureHealth.AspNetCore.Areas.Identity.Models.Member.ResetPasswordModel
<script type="text/javascript">
    (function () {
        window.ResetPassword = function () {
            LoadingPanel.loader.show();
            $.post("@Model.ResetPasswordActionUrl", function () {
                $("#ResetPasswordDialog").data("kendoDialog").close();
                LoadingPanel.loader.hide();
            });

            return false;
        };

        window.ResetPasswordClose = function () {
            $("#ResetPasswordDialog").data("kendoDialog").destroy();
        };
    })();
</script>
<kendo-dialog name="ResetPasswordDialog" title="Reset Password" modal="true" on-close="ResetPasswordClose">
    <content>
        @if (Model.CanResetPassword)
        {
            <text>
                Are you sure you want to reset the password for @(Model.UserName)?
            </text>
        }
        else
        {
            <text>
                The password for @(Model.UserName) cannot be reset at this time for the following reasons:
            </text>
            <ul>
                @if (Model.IsRegistrationRequired)
                {
                    <li>
                        Registration is required.  The user will specify a password as part of the registration process.
                    </li>
                }
            </ul>
        }
    </content>
    <actions>
        @if (Model.CanResetPassword)
        {
            <action action="ResetPassword" text="Yes" />
            <action text="No" primary="true" />
        }
        else
        {
            <action text="Ok" primary="true" />
        }
    </actions>
</kendo-dialog>