$suture-blue: #1e6be8;
$suture-light-blue: #2aadfa;
$suture-dark-blue: #0f3674;
$suture-teal: #00b3b3;
$suture-black: #333333;
$red: #dc3545;
$yellow: #ffc107;
$secondary: #6c757d;

$primary: #1e6be8;


