@model SutureHealth.AspNetCore.Areas.Network.Models.Network.InvitationModalFooter

<div style="background-color: #ebebeb; padding: 10px;">
    <div class="text-center">
        <h4 class="font-bold">Got it! We will send a message on your behalf to each company with the following:</h4>
        <h4>@Model.UsageRequirementText</h4>
        <h4>@Model.TimeExpectationText</h4>
    </div>
</div>

<div class="text-center" style="margin: 10px;">
    <a href="@Model.DownloadSampleUrl" target="_blank">Download Sample Invitation</a>
</div>