<div class="row" style="text-align:center">
    <div class="col-lg-4 col-lg-offset-4">
        <div>
            <a href="@Url.RouteUrl("NetworkPreset", new { preset = "InviteSenders" })" class="inviteSendersButton">
                <i class="far fa-envelope envelope-icon" aria-hidden="true"></i>
                Invite Senders
            </a>
        </div>

        <h3>
            Invite companies to join SutureHealth!
        </h3>

        <div style="padding-top: 20px;padding-bottom:20px;">
            <span>
                FREE FOR YOU
            </span>
        </div>
        <ul style="text-align:left">
            <li>Invited companies will be sent a fax invitation</li>
            <li>Our sales team will follow up with them</li>
            <li>If they accept, sending companies will pay based on their size.</li>
        </ul>

        <div style="padding-top: 20px;padding-bottom:20px;">
            <span>
                BENEFITS FOR SENDERS
            </span>
        </div>
        <ul style="text-align:left">
            <li>Work with all signers on network</li>
            <li>Reduce their costs</li>
            <li>Improve their cash flow</li>
            <li>Better document tracking</li>
            <li>And more!</li>
        </ul>
    </div>
</div>