/* NAV */
.navbar {
    padding: 0 1rem !important;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-brand img {
    width: 200px;
    padding-top: 0.312rem;
    padding-bottom: 0.312rem;
}

.nav-link {
    font-weight: 600;
    padding: 0.8rem 1rem !important;
    border-top: 3px solid #f8f9fa;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover {
    border-top: 3px solid #cecece;
    background-color: #e9ecef;
}

.nav-active {
    border-top: 3px solid $suture-blue;
    background-color: #e9ecef;
}


.user {
    background-color: #606060;
    padding: 5px 0 1px;
    border: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 47px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
    font-size: 18px;
    background: #606060;
    border: 3px solid #606060;
    color: #ffffff;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}

.user-info {
    background-color: #606060;
    color: #fff;
    padding: 12px;
}

.user-container .dropdown-menu {
    padding-top: 0;
}

.user-container i img {
    max-width: 32px;
}

.user-container .dropdown-item {
    padding: 12px;
}

#logout {
    margin-left: 12px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0 !important;
}
