/* .btn-group-container {
    border-radius: 6px;
    background: #ededed;
    box-shadow: inset 5px 5px 10px #c9c9c9, inset -5px -5px 10px #ffffff;
}

.btn-light {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding: 10px 40px 10px 40px;
    transition: all 0.25s;
}

.btn-light i {
    display: none;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    border-radius: 6px;
    background: linear-gradient(0deg, #ffffff, #f9f9f9);
    box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
    color: black;
    transition: all 0.25s;
}

.btn-light:not(:disabled):not(.disabled).active i,
.btn-light:not(:disabled):not(.disabled):active i,
.show > .btn-light.dropdown-toggle i {
    display: inline;
    color: var(--suture-teal);
}

.btn-light:hover {
    border-radius: 6px;
    background: linear-gradient(90deg, #f2f2f2, #ededed);
    box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
    color: black;
    transition: all 0.25s;
}

#notification-row .btn {
    font-size: 0.8rem;
}

#notification-row .btn-light {
    padding: 5px 10px;
}
    */